@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@font-face {
    font-family: 'Cumiskat' ;
    src: url(/fuentes/Cumiskat.ttf);
}
h1, h2, h3{
    margin: 0;
    padding: 0;
}
:root{
    --color1: #F0D237;
    --color2: #F78B6D;
    --color3: #FA6672;
    --color4: #32DBA2;
    --color5: #B096E0;
    --color-blanco: #FFFFFF;
    --color-negro: #000000;
    --color-gris-claro: #CCCCCC;
    --color-gris-oscuro: #333333;
}

body{ /* Así se crea una regla de estilo para el objeto body */
    background-color: var(--color-blanco); /* Color de fondo */
    color: var(--color-gris-oscuro); /* Color de texto */
    font-size: 20px;
}



body>div:not(:first-child){
    margin: auto;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body>div>div{
    width: 70%;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    text-align: justify;
}



#encabezado{
    background-color: var(--color1);
    margin: 0;
}

h1{
    font-size: 35px; /* Tamaño de la letra en pixeles */
    font-weight: 900; /* Estilo o grosor de la letra */
    font-family: 'Cumiskat';
    text-align: center;
}

#encabezado p{
    color: red;
    text-align: center;
    font-family: 'Dancing Script', sans-serif;
    font-size: 38px;
    font-weight: 900;
    margin: 0;
}

h2{
    font-weight: 200; 
    font-size: 50px;
    text-transform: lowercase; /* Mostrar los textos en minúscula */
    letter-spacing: -2px;
    font-family: 'Dancing Script', sans-serif;
    font-weight: 900;
}
h3{
    font-size: 34px;
    font-weight: 700;
    font-family: 'Dancing Script', sans-serif;
}
#nosotros{
    background-color: var(--color2);
}
#noticias{
    background-color: var(--color1);
}
#mision{
    background-color: var(--color4);
}
#labor>div{
    background-color: var(--color5);
    display: flex;
}
#galeria{
    background-color: var(--color3);
    text-align: center;
}
#galeria img{
    width: 400px;
    
}